/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
/** { box-sizing: border-box } */

.typesDemo ul[dnd-list],
.typesDemo ul[dnd-list] > li {
    position: relative;
   
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.typesDemo ul[dnd-list] {
    /*min-height: 42px;*/
    min-height: 52px;
    min-width: 52px;
    max-height: 52px;
   /* padding-left: 5px;*/
    background-color: #bdc3c7;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.typesDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
/*.typesDemo ul[dnd-list] .dndPlaceholder {
    display: inline-block;
    background-color: red;
    min-height: 52px;
    width: 50px;
   /* min-height: 42px;
    height: 42px;
    width: 50px;
}*/

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.typesDemo ul[dnd-list] li {
    background-color: white;
  /*  border: 1px solid #ddd;*/
    border-radius: 4px;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
   
    /*padding: 0px 15px;*/
   /* margin-bottom: -1px;*/
    
    /* Disable text selection if item is not draggable */
  /*  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

/**
 * Gender-specifc background
 */
.typesDemo ul[dnd-list] li.background-man {
    background-color: rgb(245, 220, 167);
    border: 1px solid black;
}

.typesDemo ul[dnd-list] li.background-woman {
    background-color: rgb(245, 220, 167);
    border: 1px solid black;
}

/*.typesDemo ul[dnd-list] input.background-man {
    background-color: #D8E9FF;
    color: #2F4D99;
}

.typesDemo ul[dnd-list] input.background-woman {
    background-color: #FFF0FA;
    color: #D84FA7;
}*/

/**
 * Handle positioning
 */
.typesDemo .handle {
    cursor: move;
    position: absolute;
    left: 3px;
    top: -1px;
    /*top: 14px;*/
}

.typesDemo .letter {
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: 26px;
    /*top: 14px;*/
}

/*.typesDemo .name {
    margin-left: 20px;
}*/

.inline {
    display: inline-block;
}